<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xidian.dao.UserDao">
    <select id="getUserList" resultType="cn.edu.xidian.domain.User">
        select * from mybatis.user
    </select>

<!--    &lt;!&ndash;select user by id&ndash;&gt;-->
<!--    <select id="getUserById" resultType="cn.edu.xidian.domain.User" parameterType="int">-->
<!--        select * from mybatis.user where user_id = #{user_id}-->
<!--    </select>-->
    <!--insert into user by user object-->
    <insert id="insertUser" parameterType="cn.edu.xidian.domain.User">
        insert into mybatis.user(user_name, user_pwd) values(#{user_name}, #{user_pwd})
    </insert>
    <!--update user by user object-->
    <update id="updateUserById" parameterType="cn.edu.xidian.domain.User">
        UPDATE mybatis.user SET user_name = #{user_name}, user_pwd = #{user_pwd} where user_id = #{user_id}
    </update>
    <!--delete user by id-->
    <delete id="deleteUserById" parameterType="int">
        DELETE FROM mybatis.user WHERE user_id = #{user_id}
    </delete>

    <!--    limit-->
    <select id="getUserByLimit" resultType="cn.edu.xidian.domain.User" parameterType="map" >
        select * from mybatis.user limit #{startIndex},#{pageSize}
    </select>
</mapper>