<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>top</servlet-name>
        <servlet-class>top.Top</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>top</servlet-name>
        <url-pattern>/top</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>bottom</servlet-name>
        <servlet-class>bottom.Bottom</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bottom</servlet-name>
        <url-pattern>/bottom</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>index.Index</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
</web-app>