<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>Error.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Disp</servlet-name>
        <servlet-class>Turnme.Display</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Disp</servlet-name>
        <url-pattern>/Turnme</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/Turnme</location>
    </error-page>

    <error-page>
        <exception-type>
              javax.servlet.ServletException
        </exception-type >
        <location>/Turnme</location>
    </error-page>
    
    <error-page>
        <exception-type>java.io.IOException</exception-type >
        <location>/Turnme</location>
    </error-page>
</web-app>
